@media (min-width: 768px) {
  .main-content {
    margin-left: 0px;
  }
  #page-topbar {
    left: 0px;
  }
}

.footer {
  bottom: 0;
  padding: 20px 0.75rem;
  position: absolute;
  right: 0;
  color: var(--vz-footer-color);
  left: 0;
  height: 60px;
  background-color: var(--vz-footer-bg);
}

[data-layout='vertical'][data-sidebar-size='sm'] .navbar-menu {
  width: 0 !important;
  overflow: hidden !important;
  transition: width 0.75 ease;
}

[data-layout='vertical'][data-sidebar-size='sm'] .navbar-brand-box {
  width: 0 !important;
  overflow: hidden;
}

[data-layout='vertical'][data-sidebar-size='lg'] .navbar-menu {
  width: 250px;
  margin: 0px;
  box-shadow: rgba(17, 12, 46, 0.35) 0px 48px 100px 0px;
  border-radius: 0px 24px 24px 0px;
  border-right: unset;
}

[data-layout='vertical'][data-sidebar-size='sm'] .navbar-menu {
  width: 0px;
  margin: 0px;

  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 16px;
}

/* nút đóng sidebar */
.sidebar-close-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 6px;
  background: transparent;
  color: #4e84fe;
  border: 1px solid rgb(0 0 0 / 6%);
  transition: background 0.75s, transform 0.08s;
  z-index: 1200;
  cursor: pointer;
}

.sidebar-close-btn:hover {
  background-color: rgba(255, 255, 255, 0.06);
  transform: translateX(-1px);
  color: #4e84fe;
}

/* nếu muốn ẩn trên màn nhỏ (tùy bạn) */
@media (max-width: 767px) {
  .sidebar-close-btn {
    display: none;
  }
}

[data-layout='vertical'][data-sidebar-size='lg'] .navbar-brand-box {
  height: 71px;
  margin: 0px 10px;

  border-bottom: #919da9 1px solid;
  padding: 0 8px;
  text-align: center;
  transition: width 0.75s ease-out;
}

[data-layout='vertical'][data-sidebar-size='lg'] .navbar-menu .navbar-nav .nav-sm {
  padding-left: 1rem;
}

[data-layout='vertical'][data-sidebar-size='lg'] .navbar-menu .navbar-nav .nav-sm {
  padding-left: 24px;
}
[data-layout='vertical'][data-sidebar-size='lg'] .navbar-menu .navbar-nav .nav-link {
  display: flex;
  align-items: center;
  padding: 0.625rem 8px;
  color: var(--vz-vertical-menu-item-color);
  font-size: 0.9375rem;
  font-family: Nunito, sans-serif;
}

/* Áp dụng cho nav-item mà có menu con */
.navbar-nav .nav-item > .menu-dropdown {
  position: relative;
}

/* Line dọc chạy từ icon cha xuống submenu */
.navbar-nav .nav-item > .menu-dropdown::before {
  content: '';
  position: absolute;
  left: 16px;
  top: 4px; /* bắt đầu ngay dưới icon cha */
  bottom: 0.5rem; /* chạy hết submenu */
  width: 2px;
  background-color: #46b5c7 !important;
  z-index: 0;
}

/* Submenu dịch qua phải một chút */
.navbar-nav .nav-sm {
  margin-left: 8px;
  padding-left: 0.75rem;
  position: relative;
  z-index: 1;
}
.navbar-menu .navbar-nav .nav-sm .nav-link.active {
  font-size: 0.875rem !important;
  border-radius: 12px;
  background-color: #46b5c7 !important;
}

.navbar-header {
  z-index: 1050 !important;
}
.app-menu {
  z-index: 1050 !important;
}

.vertical-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  display: none; /* ẩn mặc định */
  transition: all 0.3s ease;
}

.vertical-overlay.show {
  display: block; /* hiển thị khi có class show */
}

#scrollbar a [aria-expanded='true'],
#scrollbar a:hover {
  color: #46b5c7;
}

#scrollbar a.active:hover {
  background-color: #4cc6d8 !important;
}

#scrollbar .navbar-menu .navbar-nav .nav-sm .nav-link.active:hover {
  color: #fff !important;
}
